@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.file {
  align-content: center;
  align-items: center;
  top: 50%;
  left: 45%;
  padding-left: 44%;
  padding-top: 20%;
  color: rgb(232, 248, 12);
  font-size: 50px;
}

@media (max-width: 991px) {
  .file {
    padding-top: 30%;
    padding-left: 37%;
    font-size: 30px;
  }
  h1 {
    padding-top: 100px;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container1 {
  position: relative;
}

.container1__wrapper {
  /* Displayed at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Size */
  height: 100px;
  width: 100px;

  /* Hide the part of its children which is displayed outside */
  overflow: hidden;
}

.container__ribbon {
  /* Position */
  left: -64px;
  position: absolute;
  top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;

  color: rgb(245, 10, 206);

  /* Size */
  height: 24px;
  width: 206px;

  /* Displayed diagonally */
  transform: rotate(-45deg);

  /* Background color */
  background-color: rgb(8, 255, 234);

  /* Centerize the text content */
  text-align: center;
}

.container {
  /* Background color */
  background-color: rgb(5, 0, 7);

  /* You can use gradient background color such as
background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

  /* Curved corners */
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
}

h1 {
  color: aliceblue;
  text-align: center;
  padding-top: 80px;
}

.uploadButton {
  display: none;
}

.uploadLabel {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: blue;
  color: #ffffff;
}
